/* INÍCIO */

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.head{
    background-color: rgb(184, 6, 6);
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logos{
display: flex;
flex-direction: row;
align-items: center;
}

.logo{
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    border-radius: 5px;
    color: rgb(73, 69, 69);
    font-size: 18px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.mlogo{
    color: rgb(228, 22, 22);
}

.imglogo{
    width: 12%;
    margin-left: 10px;
}

body{
    background-color: rgb(61, 57, 57);
}

.buttons{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.buttons a{
    text-decoration: none;
    width: 130px;
    height: 40px;
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    border-radius: 5px;
    color: rgb(73, 69, 69);
    font-size: 18px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
}

.manequim{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.corpo_frente_on{
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 50%;
}

.corpo_frente_off{
    display: none;
}

.corpo_tras_on{
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 50%;
}

.corpo_tras_off{
    display: none;
}

.virar{
    display: flex;
    justify-self: center;
    background-color: rgb(61, 57, 57);
    border: 0;
    cursor: pointer;
    height: 55px;
    width: 50px;
}

.criar{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-self: center;
    color: rgb(73, 69, 69);
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
}

.img_virar{
    width: 100%;
}

.escolha_frente{
    display: flex;
    flex-direction: column;
}

.escolha_frente h1{
    color: rgb(228, 22, 22);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.resultado_treino{
    display: none;

}

.resultado_treino h1{
    color: rgb(228, 22, 22);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.escolha_frente select{
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    color: rgb(73, 69, 69);
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 300px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
}

.escolha_tras{
    display: none;
    flex-direction: column;
}

.escolha_tras h1{
    color: rgb(228, 22, 22);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.escolha_tras select{
    color: rgb(73, 69, 69);
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 300px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
}

.on{
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 50%;
}

.off {
    display: none;
}

/* CADASTRO */

.cadastro{
    background-color: #c7bebe;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: center;
}

.cadastro h1{
    align-self: center;
    color: rgb(228, 22, 22);
    margin: 0px;
}

.cadastro hr{
    height: 10px;
    color: rgb(228, 22, 22);
}

.cadastro input{
    width: 70%;
    height: 35px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
}

.linha{
    background: linear-gradient(to right, #e62828, #ee4f4f);
    border-radius: 10px;
    width: 50%;
    height: 3px;
    margin: 5px 0;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
    
}

.cadastro button{
    width: 70%;
    height: 40px;
    background: rgb(228, 22, 22);
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    transition: background 0.5s ease;
}

/* LOGIN */

.login{
    background-color: #c7bebe;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: center;
}

.login h1{
    align-self: center;
    color: rgb(228, 22, 22);
    margin: 0px;
}

.login hr{
    height: 10px;
    color: rgb(228, 22, 22);
}

.login input{
    width: 70%;
    height: 35px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
}

.login button{
    width: 70%;
    height: 40px;
    background: rgb(228, 22, 22);
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    transition: background 0.5s ease;
}