/* HEADER */

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.head{
    background-color: rgb(184, 6, 6);
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.logos{
display: flex;
flex-direction: row;
align-items: center;
}

.logo{
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    border-radius: 5px;
    color: rgb(73, 69, 69);
    font-size: 18px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.mlogo{
    color: rgb(228, 22, 22);
}

.imglogo{
    width: 12%;
    margin-left: 10px;
}

body{
    background-color: rgb(61, 57, 57);
}

.buttons{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.buttons a{
    text-decoration: none;
    width: 130px;
    height: 40px;
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    border-radius: 5px;
    color: rgb(73, 69, 69);
    font-size: 18px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
}

/* CALCULADORA */

.calculadora img{
    width: 100%;
}

.calculadora{
    position: fixed;
    left: 0px;
}

.calculadora button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
    width: 60px;
    cursor: pointer;
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%); 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px rgb(228, 22, 22) solid;
    border-left: 0;
}

.container{
    display: none;
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px rgb(228, 22, 22) solid;
    border-left: 0;
}

.container button{
    background: linear-gradient(90deg, #c40e0e 0%, #d81717 100%); 
    width: 300px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container button:hover {
    background-color: #218838;
}

.container h2 {
    margin-top: 20px;
}

#div_resultado{
    margin-top: 20px;
}

/* MANEQUIM */

.manequim{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.corpo_frente_on{
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 50%;
}

.corpo_frente_off{
    display: none;
}

.corpo_tras_on{
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 50%;
}

.corpo_tras_off{
    display: none;
}

.criar{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-self: center;
    color: rgb(73, 69, 69);
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 40px;
    width: 150px;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.escolha_frente{
    display: flex;
    flex-direction: column;
}

.escolha_frente h1{
    color: rgb(228, 22, 22);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.treino{
    display: none;
    justify-content: center;
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    border: 5px rgb(184, 6, 6) solid;
    border-radius: 20px;
    max-height: 400px;
    width: 280px;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.treino h1{
    color: rgb(228, 22, 22);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.escolha_frente select{
    background: linear-gradient(90deg, #c7bebe 0%, #f8f6f6 100%);
    color: rgb(73, 69, 69);
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 300px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.on{
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 50%;
}

.off {
    display: none;
}

/* CADASTRO */

.cadastro{
    background-color: #c7bebe;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: center;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.cadastro h1{
    align-self: center;
    color: rgb(228, 22, 22);
    margin: 0px;
}

.cadastro hr{
    height: 10px;
    color: rgb(228, 22, 22);
}

.cadastro input{
    width: 70%;
    height: 35px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
}

.linha{
    background: linear-gradient(to right, #e62828, #ee4f4f);
    border-radius: 10px;
    width: 50%;
    height: 3px;
    margin: 5px 0;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
    
    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.cadastro button{
    width: 70%;
    height: 40px;
    background: rgb(228, 22, 22);
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    transition: background 0.5s ease;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.validacao{
    display: flex;
    color: #e62828;
    padding-bottom: 10px;
    text-align: center;
}

/* LOGIN */

.login{
    background-color: #c7bebe;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: center;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.login h1{
    align-self: center;
    color: rgb(228, 22, 22);
    margin: 0px;
}

.login hr{
    height: 10px;
    color: rgb(228, 22, 22);
}

.login input{
    width: 70%;
    height: 35px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}

.login button{
    width: 70%;
    height: 40px;
    background: rgb(228, 22, 22);
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    transition: background 0.5s ease;

    -webkit-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    -moz-box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
    box-shadow: 0px 8px 7px -6px rgb(27, 26, 26);
}